################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/pmv-ads-2024-2-e2-proj-int-t3-grupo1-eventease/v17
