
<article>
    <div>
        <img src="Evento-Corporativo.jpg" alt="foto-perfil-usuario">
    </div>
    <section id="item-carrinho">
        <p>itens</p>
        <img src="" alt="foto-evento">
        <p>Nome do produto:<strong> Evento do Fulano</strong></p>
        <p>Valor: $0.00</p>
    </section>
    <button>Confirmar compra</button>
</article>